# Node modules
node_modules/
**/node_modules/

# Build outputs
.next/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files (IMPORTANT)
.env
.env.local
.env.development
.env.production

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# TypeScript
*.tsbuildinfo